<%- include('../partials/header1.ejs') %> 

<div class="container my-5 py-5">
    <section>
        <div class="col-md-8 mb-4" style="margin-left:25%;" >
          <div class="card mb-4">
            <div class="card-header py-3">
              <h5 class="mb-0 text-font text-uppercase">Delivery address</h5>
            </div>
            <div class="card-body">
              <form method="post" >
  
                <div class="row mb-4">
                  <div class="col">
                    <div class="form-outline">
                    <label class="form-label" for="form11Example1">First name</label>
                      <input type="text" id="form11Example1" name="fName" class="form-control" />
                      
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-outline">
                    <label class="form-label" for="form11Example2">Last name</label>
                      <input type="text" id="form11Example2" name="Lname" class="form-control" />
                     
                    </div>
                  </div>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form11Example6">Phone</label>
                  <input type="number" id="form11Example6" name="mobile" class="form-control" />  
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form11Example4">Address</label>
                  <textarea class="form-control" id="form11Example7" name="address" rows="4"></textarea>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form11Example5">State</label>
                  <input type="text" name="state" class="form-control" />
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form11Example5">city</label>
                  <input type="text" name="city" class="form-control" />
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form11Example4">Pin code</label>
                  <input type="number" id="form11Example4" name="pincode" class="form-control" />
                  
                </div>
                <div class="text-center">
                    <button type="submit" class="btn button-order col-md-10">ADD</button>
                  </div>
                </form>
          </div>
         
        
        </div>
        </div>
  
  
  
  
  
  
      </div>
  
    </section>
    <!--Section: Design Block-->
  
  </div>
    <%- include('../partials/footer1.ejs') %> 