<%- include('../partials/header1.ejs') %> 
<div class="container mt-4 mb-4">
    <div class="row d-flex cart align-items-center justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="d-flex justify-content-center border-bottom">
                    <div class="p-3">
                        <div class="progresses">
                            <div class="steps"> <span><i class="fa fa-check"></i></span> </div> <span class="line"></span>
                            <div class="steps"> <span><i class="fa fa-check"></i></span> </div> <span class="line"></span>
                            <div class="steps"> <span class="font-weight-bold">3</span> </div>
                        </div>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-md-12 border-right p-5">
                        <div class="text-center order-details">
                            <div class="d-flex justify-content-center mb-5 flex-column align-items-center"> <span class="check1"><i class="fa fa-check"></i></span> <span class="font-weight-bold">Order Confirmed</span>   </div> <button class="btn btn-danger btn-block order-button"><a href="/orderDetails" style="color: #fff;text-decoration: none;">Go to your Order</a></button>
                        </div>
                    </div>
                </div> 
            </div>
           <a href="/product" style="color: green;text-decoration: none;"><button class="btn btn-outline-success w-100 m-2">Condtinue Shoping</a>
        </div>
        
    </div>
</div>
<%-include('../partials/footer1.ejs') %>